
.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #fc7a00;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #fc7a00;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #fc7a00;
  }
  

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #fc7a00;
  }
  

  .ms-scrollbar {
    width: 12px;
    background: #fc7a00;
    scrollbar-face-color: #fc7a00;
    scrollbar-track-color: #fc7a00;
    scrollbar-arrow-color: #fc7a00;
  }
  